/*-- Layout--*/
html,
body,
.capa {
  height: 100%;
}

body {
  background: url(imagens/capa.png), url(imagens/ruido.png),
    linear-gradient(50deg, #ff4169, #7c26f8);
  background-attachment: fixed; /*fixando o fundo*/
  font-family: Arial, Helvetica, sans-serif;
}

/*--Barra navegação--*/
.img-logo {
  height: 40px;
  width: 132px;
  background: url("imagens/spotify.svg") no-repeat;
  display: block;
  background-size: contain;
  color: transparent;
}
nav.navbar-tranparente {
  padding: 15px 0px;
  background-color: rgba(0, 0, 0, 0.6);
  border: none;
}
.navbar-brand {
  padding: 5px 15px;
}
.divisor {
  width: 1px;
  height: 16px;
  background: white;
  margin: 16px 10px;
}
.navbar-inverse .navbar-nav > li > a {
  color: white;
}
.navbar-inverse .navbar-nav > li > a:hover {
  color: #9df0e1;
}
/*--Imagem de capa--*/

.capa {
  display: table;
  width: 100%;
}
.texto-capa {
  text-align: center;
  color: white;
  display: table-cell;
  vertical-align: middle;
}
/*--Botoes--*/
.btn-custom {
  color: white;
  border-radius: 500px;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  padding: 10px 35px;
  margin: 0px 15px;
  text-transform: uppercase;
  transition: background 0.4s, color 0.4s; /*deixar mais lenta a trasição de cor*/
  font-weight: bolder;
}

.btn-roxo {
  background: #7c25f8;
}

.btn-roxo:hover {
  background: #6207e3;
  color: white;
}

.btn-branco {
  border: 2px solid white;
}

.btn-branco:hover {
  background: white;
  color: black;
}

/*--Servicos--*/
#servicos {
  background: white;
  padding-top: 20px;
  padding-bottom: 20px;
}

.albuns {
  padding: 10px 0px 0px 0px;
}

img {
  padding: 0px 0px 10px 0px;
}

/*--Tipografia--*/
h1 {
  font-size: 100px;
  font-weight: 900;
  letter-spacing: -0.05em; /*deixando a letra mias proxima da outra*/
  margin-bottom: 50px;
}
h2 {
  font-size: 50px;
  font-weight: 700;
  letter-spacing: -0.04em;
}

h3 {
  font-size: 35px;
  font-weight: 700;
  letter-spacing: -0.04em;
}

#servicos h2,
h3 {
  color: #7c25f8;
}

p {
  text-align: justify;
}
